
.card {
    padding: 5px;
    margin: 5px;
    border-color: darkgrey;
}

.nav-link {
    color: #4B0082;
}

body {
   background-image: url(pictures/pure-star-nebula.jpg), url(pictures/stars.png);
   background-repeat: repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: contain, cover;
   /*background-color: black;*/
 background-color:#483D8B;
}

.container {
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer-copyright{
    padding: 30px;
    border-bottom: yellow;
    border-bottom: 30px;
}

.card-link {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    text-align: center;

}


.page-footer {
    padding: -40px;
}

.card-body {
margin: 0;
margin-top: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
  }


hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    color: white;
}
 
    .portfolio-back {
        background-color: white;
    }

    h2 {
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: lighter;
    }
    
    h3 {
        color:#4B0082;
    }


    h6 {
        color: white;
    }

    #boarder {
        background-color: white;
        padding: 15px;
    }

    .card-text {
        padding-left: 10px;
    }

    .btn{
        background-color: #4B0082;
        color:white;
    }

    .subbtn {
        color: white;
    }

    .sub {
        color: white;
    }

    .phoneCall {
        padding-bottom: 100px;
    }
